<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design.css"/>

    <title>Portofolio</title>
</head>
<body ng-controller="homeController">
    <header class=""container">
        <div class="wrapper">
            <nav class="navbar">
                <div class="navbar__logo">
                    <p>PORTOFOLIO</p>
                </div>
                <ul class="navbar__links">
                    <li class="navbar__link"><a href="">Home</a></li>
                    <li class="navbar__link"><a href="#pengalaman">Pengalaman</a></li>
                    <li class="navbar__link"><a href="#pendidikan">Pendidikan</a></li>
                    <li class="navbar__link"><a href="#keahlian">Keahlian</a></li>
                </ul>
                <div class="navbar__ham">
                    <div class="navbar__icon"></div>
                </div>
            </nav>
        </div>
    </header>
    <section id="home">
        <div class="home-content">
               <div class="home-img">
                <img src="3X4 1.jpg">
               </div>
        </div>
        <div class="home-content">
            <h1>{{about_me.name}}</h1>
            <h3>{{about_me.position}}</h3>
            <p>{{about_me.kontent}}</p>
                <div class="btn-box">
                    <a href="#pendidikan">Resume</a>
                    <a href="#" id="openCv">CV</a>
                </div>
        </div>
    </section>
    
    <section class="pendidikan">
        <div class="container">
            
            <main class="row">
                <section class="col" id="pendidikan">
                    <div class="title">
                        <h2>Pendidikan</h2>
                    </div>
                    <div class="contents">
                        <div class="box" ng-repeat="row in pendidikan">
                            <h4>{{row.tahun}}</h4>
                            <h3>{{row.sekolah}}</h3>
                            <p>{{row.ket}}</p>
                        </div>
                    </div>
                </section>
                <section class="col" id="pengalaman">
                    <div class="title">
                        <h2>Pengalaman Kerja</h2>
                    </div>
                    <div class="contents">
                        <div class="box" ng-repeat="row in pengalaman_kerja">
                            <h4>{{row.tahun}}</h4>
                            <h3>{{row.judul}}</h3>
                            <ul>
                                <li ng-repeat="res in row.data">{{res}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>      
        </div>
    </section>
    <section id="keahlian">
        <div class="container">
            <div class="row-keahlian" id="keahlian">
               
                <div class="col-keahlian" >
                    <div class="title">
                        <h2>Keahlian</h2>
                    </div>
                    <div class="contents-keahlian">
                        <div class="box" ng-repeat="row in softskill">
                            <h4>{{row.keterangan}}</h4>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </section>
    <script src="angularjs/angular.min.js"></script>
    <script src="main.js"></script>
   
</body>
</html>